@import "tailwindcss";

@theme {
    --bg-color: #131313;
    --color-toxic: #DAFE86;
    --color-purple:#ba8fff;
    --w3m-color-mix: #fff;
    --w3m-accent: hsla(230, 100%, 67%, 1);
    --w3m-default: #fff;
    --wui-color-modal-bg-base: #121313;
    --wui-color-accent-base-100: var(--w3m-accent);
    --wui-color-blueberry-100: hsla(230, 100%, 67%, 1);
    --wui-color-blueberry-090: hsla(231, 76%, 61%, 1);
    --wui-color-blueberry-080: hsla(230, 59%, 55%, 1);
    --wui-color-blueberry-050: hsla(231, 100%, 70%, 0.1);
    --wui-color-fg-100: #e4e7e7;
    --wui-color-fg-125: #d0d5d5;
    --wui-color-fg-150: #a8b1b1;
    --wui-color-fg-175: #a8b0b0;
    --wui-color-fg-200: #949e9e;
    --wui-color-fg-225: #868f8f;
    --wui-color-fg-250: #788080;
    --wui-color-fg-275: #788181;
    --wui-color-fg-300: #6e7777;
    --wui-color-bg-100: #141414;
    --wui-color-bg-125: #191a1a;
    --wui-color-bg-150: #1e1f1f;
    --wui-color-bg-175: #222525;
    --wui-color-bg-200: #272a2a;
    --wui-color-bg-225: #2c3030;
    --wui-color-bg-250: #313535;
    --wui-color-bg-275: #363b3b;
    --wui-color-bg-300: #3b4040;
    --wui-color-success-base-100: #26d962;
    --wui-color-error-base-100: #f25a67;
    --wui-color-success-glass-001: rgba(38, 217, 98, 0.01);
    --wui-color-success-glass-002: rgba(38, 217, 98, 0.02);
    --wui-color-success-glass-005: rgba(38, 217, 98, 0.05);
    --wui-color-success-glass-010: rgba(38, 217, 98, 0.1);
    --wui-color-success-glass-015: rgba(38, 217, 98, 0.15);
    --wui-color-success-glass-020: rgba(38, 217, 98, 0.2);
    --wui-color-success-glass-025: rgba(38, 217, 98, 0.25);
    --wui-color-success-glass-030: rgba(38, 217, 98, 0.3);
    --wui-color-success-glass-060: rgba(38, 217, 98, 0.6);
    --wui-color-success-glass-080: rgba(38, 217, 98, 0.8);
    --wui-color-error-glass-001: rgba(242, 90, 103, 0.01);
    --wui-color-error-glass-002: rgba(242, 90, 103, 0.02);
    --wui-color-error-glass-005: rgba(242, 90, 103, 0.05);
    --wui-color-error-glass-010: rgba(242, 90, 103, 0.1);
    --wui-color-error-glass-015: rgba(242, 90, 103, 0.15);
    --wui-color-error-glass-020: rgba(242, 90, 103, 0.2);
    --wui-color-error-glass-025: rgba(242, 90, 103, 0.25);
    --wui-color-error-glass-030: rgba(242, 90, 103, 0.3);
    --wui-color-error-glass-060: rgba(242, 90, 103, 0.6);
    --wui-color-error-glass-080: rgba(242, 90, 103, 0.8);
    --wui-color-gray-glass-001: rgba(255, 255, 255, 0.01);
}

@font-face {
    font-family: 'UniqueFont';
    src: url('/src/assets/fonts/Unique-Bold.otf') format('woff2'),
    url('/src/assets/fonts/Unique-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('/src/assets/fonts/Bicyclette-Black.woff') format('woff2'),
    url('/src/assets/fonts/Bicyclette-Black.woff') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bicyclette';
    src: url('/src/assets/fonts/Bicyclette-Bold.woff') format('woff2'),
    url('/src/assets/fonts/Bicyclette-Bold.woff') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

